:root {
  --swm-expandable-transition: transform 200ms ease;
  --ifm-code-font-size: 14px;
  --swm-logo-title-width: 177px;
  --swm-logo-height: 50px !important;
}

[class*='plugin-pages'] {
  background-color: #ffffff;
}
[data-theme='dark'][class*='plugin-pages'] {
  background-color: var(--swm-navy-100);
}

table {
  display: table;
  width: 100%;
}

@media (max-width: 1280px) {
  table {
    display: block;
    width: 100%;
  }
}

table thead tr {
  border-bottom: 1px solid var(--ifm-table-border-color);
}

.platform-compatibility table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.compatibility {
  overflow-x: auto;
}

.compatibility table {
  display: table;
  width: 100%;
  white-space: nowrap;
}

.compatibility td {
  padding: 0;
  border: transparent 2px solid;
  background: var(--ifm-background-color);
}

.compatibility th {
  background: var(--ifm-background-color);
  border: transparent 2px solid;
}

@media (min-width: 996px) {
  .header-github {
    margin-left: 1.5em;
  }
}

.header-github:before {
  display: flex;
  height: 24px;
  width: 24px;

  mask: url(/static/img/github.svg) no-repeat center;
  mask-size: contain;
  content: '';

  background-color: var(--ifm-navbar-link-color);
}

@media (max-height: 420px) {
  .header-github:before {
    height: 20px;
    width: 20px;
  }
}

.header-github:hover:before {
  background-color: var(--ifm-navbar-link-hover-color);
}

@media (min-width: 996px) {
  .header-discord {
    margin-left: 1.5em;
  }
}

.header-discord:before {
  display: flex;
  height: 24px;
  width: 24px;

  mask: url(/static/img/discord.svg) no-repeat center;
  mask-size: contain;
  content: '';

  background-color: var(--ifm-navbar-link-color);
}

@media (max-height: 420px) {
  .header-discord:before {
    height: 20px;
    width: 20px;
  }
}

.header-discord:hover:before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.community-holder-container {
  display: flex;
  flex-wrap: wrap;
}
.community-holder-container-item {
  margin-right: 20px;
  text-align: center;
}
.community-imageHolder {
  max-width: 150px;
}

[class*='codeBlockContainer'] {
  box-shadow: none;
}

[class*='codeBlockContent'] pre {
  border: 1px solid var(--swm-border);
}

[class*='codeBlockContent'] pre,
[class*='codeBlockContent'] code {
  border-radius: 0;
  background-color: var(--swm-off-background);
  font-family: var(--ifm-font-family-monospace);
}

/* Add small padding, when some of the lines are too long in a code block */
[class*='codeBlockLines'] span:last-of-type {
  margin-right: 1em;
}

.theme-doc-version-badge {
  color: var(--swm-version-badge);
  background: var(--swm-version-badge-background);
  padding: 6px;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
}

@media (max-width: 420px) {
  [class*='codeBlockContent'] pre,
  [class*='codeBlockContent'] code {
    -webkit-text-size-adjust: 100%;
  }
}

[class*='details'] + p {
  margin-top: 1rem;
}

[class*='theme-doc-sidebar-item-category-level-'] {
  margin-left: 1rem !important;
  padding-right: 1rem !important;
}

.theme-doc-sidebar-item-category-level-1 {
  margin-left: 0rem !important;
}

.theme-doc-sidebar-item-link-level-1 {
  margin-left: 0rem !important;
}

.markdown table {
  display: block;
  overflow-x: auto;
  width: 100%;
}
