.featureList {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1280px) {
  .featureList {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .featureList {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
}
