.waveContainer {
  position: relative;
  margin-top: 2rem;
  z-index: 0;
}

[class*='footerLanding'] {
  margin-top: -106px;
}

.linearGradient {
  height: 106px;
  width: 100%;
  background: linear-gradient(#ff6600, #ffffff 150%); /* FLAMES 🔥 */
}

[data-theme='dark'] .linearGradient {
  background: linear-gradient(#ff3300, #0d0000 150%); /* METAL FLAMES 🔥 */
}

@media (max-width: 996px) {
  [class*='footerLanding'] {
    margin-top: -121px;
  }
  .linearGradient {
    height: 121px;
  }
}

@media (max-width: 700px) {
  [class*='footerLanding'] {
    margin-top: -147px;
  }
  .linearGradient {
    height: 147px;
  }
}

@media (max-width: 376px) {
  [class*='footerLanding'] {
    margin-top: -173px;
  }
  .linearGradient {
    height: 173px;
  }
}
