name: Llama Example app iOS build check
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-ios-llama-example.yml'
      - '*.podspec'
      - 'apps/llama/ios/**'
      - 'apps/llama/package.json'
  pull_request:
    paths:
      - '.github/workflows/build-ios-llama-example.yml'
      - '*.podspec'
      - 'apps/llama/ios/**'
      - 'apps/llama/package.json'
jobs:
  build:
    if: github.repository == 'software-mansion/react-native-executorch'
    runs-on: macos-latest
    concurrency:
      group: ios-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Install node dependencies
        working-directory: apps/llama
        run: yarn
      - name: Install pods
        working-directory: apps/llama/ios
        run: pod install
      - name: Build app
        working-directory: apps/llama/ios
        run: |
          set -o pipefail && xcodebuild \
            -workspace llama.xcworkspace \
            -scheme llama \
            -sdk iphonesimulator \
            -configuration Debug \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            build \
            CODE_SIGNING_ALLOWED=NO | xcbeautify
