name: Check documentation

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/docs-build-check.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/docs-build-check.yml'
  workflow_dispatch:
jobs:
  check:
    if: github.repository == 'software-mansion/react-native-executorch'
    runs-on: ubuntu-latest
    concurrency:
      group: docs-check-${{ github.ref }}
      cancel-in-progress: true
    env:
      WORKING_DIRECTORY: docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install node dependencies
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn install --immutable
      - name: Generate docs
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: yarn build
